@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

:root {
    --c-color: #5B6A9A;
    --c-bgcolor: #EEF0F7;
    --c-sec-color: #81899C;
}

.curriculum-content {
    margin-bottom: 60px;
    margin-top: 300px;
}

.curriculum-content .cards {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.curriculum-content .my-card {
    gap: 30px;
    width: 100%;
    height: 200px;
    display: flex;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
    max-width: 536.5px;
    align-items: center;
    border-radius: 12px;
    background-color: var(--c-bgcolor);
}

.curriculum-content .my-card:hover {
    transform: scale(1.02);
    background-color: #fff;
    box-shadow: 0px 5px 50px -8px #ddd;
}

.my-card svg {
    font-size: 95px;
    color: var(--c-color);
}

.my-card .title {
    display: flex;
    align-items: center;
}

.my-card h3{
    font-size: 24px;
    margin-bottom: 5px;
    line-height: 1.22em;
    color: var(--c-color);
}

.my-card .badge {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: var(--teal); /* BOOTSTRAP */
}

.my-card .badge.special {
    background-color: #f16c79;
}

.my-card ul {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--c-sec-color);
}

.my-card ul > li {
    display: inline;
    line-height: 1.22em;
}

.my-card ul > li::after {
    content: '-';
    font-size: 20px;
    margin: 0 10px;
    color: var(--c-color);
}

.my-card ul > li:last-of-type::after {
    content: '';
}

.curriculum-content .timeline {
    display: flex;
    justify-content: center;
    border-top: 2px solid #eef0f7;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
}

.curriculum-content .timeline .event::before {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    top: -6px;
    position: absolute;
    border-radius: 50%;
    background-color: #6786ea;
}

.curriculum-content .timeline .event .title {
    font-size: 20px;
    font-weight: 500;
    top: -50px;
    color: #04143A;
    position: absolute;
}

.curriculum-content .timeline .event .name {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 5px;
    color: var(--c-color);
}

.curriculum-content .timeline .event .date {
    font-size: 14px;
    font-weight: 400;
    color: #81899C;
}